@{
    ViewData["Title"] = "About - Movie & Event Booking";
}

<div class="container mt-5 text-light">
    <h2 class="text-warning mb-4 fw-bold">About Us</h2>
    <p class="fs-5">
        MovieEventBooking is your one-stop destination for booking movies, concerts, and events online.
        We bring you the easiest way to book tickets for all kinds of entertainment around you!
    </p>
</div>
